.rezult
  - if @result
    - if @result.rows?
      - if @result.count > 0
        - fields = @result.fields
        %strong= "Total: #{@result.count}"
        - if @result.pages > 1
          = haml :pages, :layout => false
        %table
          %thead
            %tr
              - fields.each do |field|
                %th&= field
          %tbody
            - @result.rows.each do |row|
              %tr
                - fields.each do |field|
                  - value = row[field]
                  - if value.try(:strip).present?
                    %td&= value
                  - else
                    %td.inspect&= value.inspect
        - if @result.pages > 1
          = haml :pages, :layout => false
      - else
        Has no returned rows
    - elsif @result.value? 
      Rezult:
      &= @result.value.inspect
    - elsif @result.error?
      Error:
      &= @result.error.class.name
      %br/
      Message:
      &= @result.error.message
      %br/
      Traceback:
      %pre
        - @result.error.backtrace.each do |l|
          - if l.starts_with?(Rails.root)
            &= l.sub(Rails.root, '')
          - else
            &= l
  - else
    Has no result
