.rezult
  - if @rezult
    - if @rezult.present? || @keys
      - if @rezult.is_a? Array
        - keys = @keys || @rezult.first.keys.sort
        - keys = (fields_to_head & keys) | (keys - fields_to_head)
        - keys = (keys - fields_to_tail) | (fields_to_tail & keys)
        %strong= "Total: #{@count || @rezult.size}"
        - if @pages.presence.to_i > 1
          = haml :pages, :layout => false
        %table
          %thead
            %tr
              - keys.each do |key|
                %th&= key
          %tbody
            - @rezult.each do |row|
              %tr
                - keys.each do |key|
                  - value = row[key]
                  - if value.try(:strip).present?
                    %td&= value
                  - else
                    %td.inspect&= value.inspect
        - if @pages.presence.to_i > 1
          = haml :pages, :layout => false
      - else
        & Rezult: #{@rezult.inspect} 
    - else
      Has no rezult
